#root {
  max-width: 100%;
  margin: 0;
}

:root {
  --color-bg: #f4f4f4;
  --color-navbar: #e4e4e4;
  --color-barras: #000000;
  --color-text: #1f1f1f;
  --color-accent: #e65a41;
  --color-button: #212121;
  --color-button-hover: #1f1f1f;
  --color-func: #2E5E5F;
  --color-func-hover: #1A4B4B;
  --color-orange: #c75b1e;
  --color-orange-border: #bb571f;
  --color-equal: #2563eb;
  --color-equal-hover: #255bd0;
  --color-menu: #e0e0e0;
  --color-menu-hover: #c0c0c0;
  --color-subtitle: #222;
  --color-shadow: rgb(94, 94, 94);
}

body.dark {
  --color-bg: #181826;
  --color-navbar: #212136;
  --color-barras: #ffffff;
  --color-text: white;
  --color-accent: #E76D57;
  --color-button: #212121;
  --color-button-hover: #1f1f1f;
  --color-func: #2E5E5F;
  --color-func-hover: #1A4B4B;
  --color-orange: #c75b1e;
  --color-orange-border: #bb571f;
  --color-equal: #2563eb;
  --color-equal-hover: #255bd0;
  --color-calculadora-display: #1f1f1f;
  --color-menu: #2a2a45;
  --color-menu-hover: #3b3b5c;
  --color-subtitle: #F8F3EB;
  --color-shadow: rgb(0, 0, 0);
}

/* Scrollbar para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1b1b2f; /* track */
}

::-webkit-scrollbar-thumb {
  background-color: #4e4e8c; /* color scroll */
  border-radius: 10px;
  border: 2px solid #1b1b2f; /* interior */
}

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4e4e8c #1b1b2f;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: 0.3s ease;
}

body.light {
  background-color: #f4f4f4;
}

main {
  width: 100%;
  height: 555px;
}

/*Diseño Responsive*/

@media (max-width: 980px) {
  /*Main*/

  main {
    height: 724px;
  }

  #contentOrder {
    flex-direction: column;
    margin: 50px 0 0 0;
    height: 724px;
  }

  .cientifica #mesa {
    margin: 30px 0 0 0;
    padding: 0.1rem 0 1rem 0;
  }

  #grid-botones {
    gap: 0.5rem;
  }

  /*Footer*/

  footer {
    justify-content: center;
    margin-top: 65px;
  }
  
  .music-controls{
    margin: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}