/* Footer Styles */
footer {
  display: flex;
  justify-content: start;
  width: 100%;
  position: relative;
}

.music-controls {
  position: relative;
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

/* Botón */
#soundToggleBtn {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#soundToggleBtn.music-on {
  background: linear-gradient(45deg, #00d1ff, #6600ff);
  color: white;
  box-shadow: 0 0 10px #6600ffaa;
}

#soundToggleBtn.music-off {
  background: #f0f0f0;
  color: #333;
}

/* Dropdown */
.dropdown {
  position: absolute;
  bottom: -4px;
  right: -72px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 125px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.dropdown.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background: linear-gradient(45deg, #00d1ff, #6600ff);
  box-shadow: 0 0 10px #6600ffaa;
}

.dropdown li {
  display: flex;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
  align-content: center;
  color: white;
}

.dropdown li:hover {
  background: linear-gradient(45deg, #00d1ff, #6600ff);
  scale: 1.1;
  transition: 0.3s ease;
}
